:root {
  --orange: rgba(239, 91, 36, 255); /* color: var(--orange) */
  --gray: #333333;
}

html {
  max-width: 10000px;
}

body {
  background-color: rgba(239, 91, 36, 255);
  background-image: linear-gradient(white 0%, var(--orange) 10%, black 90%);
  color: white;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

h1 {
  color: whitesmoke;
  margin-top: 50px;
}

h2 {
  color: white;
  margin-top: 50px;
  font-size: 25px
}

/* Button Hover Animation (Menu) */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--orange);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Custom Buttons */
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #9b9b9b;
}

.button:hover {
  background-color: gray;
  color: white;
}

/* Header Menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  border-radius: 40px;
}

.menu li a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li img {
  float: right;
}

.menu li a:hover {
  background-color: rgb(52, 52, 52);
}


/* Search Bar */
.menu li form {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.menu li form input[type="text"] {
  margin-left: 5px;
  padding: 5px;
  padding-left: 13px;
  padding-right: 60px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
}

.menu li form button[type="submit"] {
  padding: 5px 20px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.menu li form button[type="submit"]:hover {
  background-color: #cc4c1d;
}