:root {
  --orange: rgba(239, 91, 36, 255);
  --gray: #333;
}

body {
  background: linear-gradient(white 0%, var(--orange) 10%, black 90%);
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
}

h1, h2 {
  margin-top: 50px;
}

h1 {
  color: whitesmoke;
}

h2 {
  color: white;
  font-size: 25px;
}

.page-view {
  margin: 0 auto;
  max-width: 1200px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--orange);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 0 10px #9b9b9b;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: gray;
  color: white;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  border-radius: 40px;
}

.menu li {
  float: right;
}

.menu li a, .menu li img {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #343434;
}

.menu li form {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.menu li form input[type="text"] {
  margin-left: 5px;
  padding: 5px;
  padding-left: 13px;
  padding-right: 60px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
}

.menu li form button[type="submit"] {
  padding: 5px 20px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.menu li form button[type="submit"]:hover {
  background-color: #cc4c1d;
}

.img-preset, .blog-img {
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.img-preset {
  width: 350px;
}

p {
  color: white;
  width: 500px;
  margin: auto;
  font-size: larger;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item p {
  color: black;
  width: 500px;
  margin: auto;
  font-size: larger;
}

.slide-in {
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}